html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.frame {
  width: 320px;
  margin: 0 auto;
}

.result-frame {
  position: relative;
  background: #202020;
  height: 106px;
  font-size: 60px;
  font-weight: 100;
  color: #fff;
}

#result {
  padding-right: 12px;
}

.bottom-align,
.right-align {
  position: absolute;
}

.bottom-align {
  bottom: 0;
}

.right-align {
  right: 0;
}

.left-buttons {
  float: left;
  width: 75%;
  background: #000;
}

.right-buttons {
  background: green;
  float: right;
  width: 25%;
}

.row {
  display: block;
}

.btn {
  border: none;
  float: left;
  width: 79px;
  height: 79px;
  box-shadow: -.5px -.5px 0 #000;
}

.btn {
  font-family: -apple-system, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  transition: background .4s;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  background: rgba(0, 0, 0, 0.1);
  transition: background 0s;
}

.multiply-btn:focus,
.subtract-btn:focus,
.add-btn:focus {
  border: 2px solid #000;
  border-right: 2px solid rgba(0, 0, 0, 0);
}

.divide-btn:focus {
  border: 2px solid #000;
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-top: 2px solid rgba(0, 0, 0, 0);
}

.dark-grey-buttons button {
  font-size: 25px;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0);
}

.dark-grey-buttons {
  background: #c4c5c8;
}

.light-grey-buttons button {
  font-size: 35px;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0);
}

.light-grey-buttons {
  background: linear-gradient(to bottom, #d2d3d5 0%,#c1c2c6 100%);
}

.right-buttons button {
  background: rgba(255, 255, 255, 0);
  font-size: 45px;
  color: #fff;
}

.right-buttons {
  background: linear-gradient(to bottom, #f89512 0%,#f4780f 100%);
}

.divide-btn {
  padding-bottom: 5px;
}

.multiply-btn {
  padding-bottom: 10px;
}

.subtract-btn {
  padding-top: 5px;
}

.add-btn {
  padding-bottom: 6px;
}

.plus-minus-btn {
  padding-top: 7px;
}

.plus-minus-btn .plus {
  display: block;
  margin-right: -35px;
  margin-left: 18px;
  line-height: 24px;
  float: left;
}

.plus-minus-btn .minus {
  display: block;
  margin-left: -45px;
  margin-right: 20px;
  margin-top: 6px;
  float: right;
}

button.point-btn {
  font-weight: 300;
  font-size: 60px;
  line-height: 30px;
  padding-bottom: 18px;
}

.zero-btn {
  width: 158px;
  text-align: left;
  padding-left: 31px
}

.buttons {
  border: 2px solid #000;
}

/* https://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */